In [1]:
print("Â¡Hola, Mundo!")

Hola, Mundo

In [3]:
a = 5
b = 3
c = a + b
print(c)

8

In [4]:
c

8

In [5]:
c?

In [7]:
import pandas as pd
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

# Markdown

## Titulo 2

### Titulo 3 

#### Titulo 4

#### **negrilla**

#### **negrilla**

#### *cursiva*

#### *cursiva*

## Para introducir codigo es: 
print(2+2)